

#all-body {

}
#first-col{
max-width: 25%;
display: flex;
background-color: red;
padding-left: 10px ;
padding-right: 10px ;
}
#left-menu {

}
#sec-col  {
  max-width: 75%;
  display: flex;
  color: lightgrey;
}
.produkte-3column {
  }
.column-left{ float: left; width: 33.333%; }
.column-right{ float: right; width: 33.333%; }
.column-center{ display: inline-block; width: 33.333%; }
